services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  WechatMiniProgramServerMessageBundle\Controller\:
    resource: '../../Controller/'
  WechatMiniProgramServerMessageBundle\Repository\:
    resource: '../../Repository/'
  WechatMiniProgramServerMessageBundle\Service\:
    resource: '../../Service/'
    public: true
  WechatMiniProgramServerMessageBundle\EventSubscriber\:
    resource: '../../EventSubscriber/'
    public: true
  WechatMiniProgramServerMessageBundle\MessageHandler\:
    resource: '../../MessageHandler/'
    public: true
